:root {
    --accent-color: #FB5012;
    --light-color: #F0EFF4;
    --background-color: #824C71;
    --dark-color: #010001;
}

.navbar-brand {
    color: var(--accent-color);
    font-weight: 900;
}

.active {
    color: var(--light-color) !important;
    font-weight: bolder !important;
}

.nav-link {
    color: var(--light-color) !important;
}

body {
    background-color: var(--background-color) !important;
}

.bg-dark {
    background-color: var(--dark-color) !important;
}

.album-img {
    text-align: right;
}

.album-info {
    color: var(--light-color);
}

.old-price {
    text-decoration: line-through;
}

.album-info {
    position: relative;
}

.centered-text {
    text-align: center;
}

.masthead {
    padding-top: 20px;
    padding-bottom: 50px;
    color: var(--light-color);
    font-weight: 900;
}

.quote {
    padding-top: 50px;
    color: var(--light-color);
}

.blockquote-footer {
    color: var(--light-color);
}

i {
    font-size: 2rem;
    color: var(--accent-color);
}